{% for project in site.projects %}
	<div class="project col-sm-12 col-md-3 col-lg-3">
        <div class="project-panel">
            <a href="{{ project.url }}">
                 <div class="project-title-wrapper">
                     <h2>{{ project.title }}</h2>
                 </div>
                 <img class="responsive-img" src="{{ project.image.featured_image_path | prepend: site.baseurl }}" alt="{{ project.title }}" />
             </a>
            <img class="responsive-img" src="{{ project.image.featured_image_path | prepend: site.baseurl }}" alt="{{ project.title }}" />
        </div>
    </div>
{% endfor %}