---
layout: default
---
<article class="portfolio">

  <header class="project-header">
    <h1 class="project-title">{{ portfolio.title }}</h1>
  </header>

  <div class="portfolio-content">
    {% for project in site.posts %}
      {% if project.categories contains 'projects' %}
        <div class="col s3">
          <h1>{{ project.title }}</h1>
          <img class="responsive-img" src="{{ "/images/" | prepend: site.baseurl | append: project.image.featured }}" />
            {{project.content}}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</article>